body {
    background-color: blue;
    background-image: url('imagen.png');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

iframe {
    display: block;
    margin: 0 auto;
    margin-top: 100px;
  }